body {
    /*background: url("/texture.png");*/
    background: rgb(53, 59, 65);
}
font{
    background: rgba(41, 44, 49, 1);
}
/*---------------------------JUMBOTRON---------------------------*/
.jumbotron {
    text-align: center;
    border-radius:0px!important;
    background: transparent;
    position: relative;
    height: 250px;
}

.jumbotron h1,
.jumbotron p {
    color: rgb(251, 252, 253);
}

.jumbotron .btn {
    border-radius:4px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    padding:10px 40px;
    background: #ffec5c;
    color: rgb(41, 44, 49);
    border: transparent;
}

.jumbotron .btn:hover {
    background: #ffec5c;
}
/*---------------------------PANEL TITLE CONTENT---------------------------*/
.openbook-title {
    font-weight: bold;
    font-style: italic;
}
.openbook-authors {
    font-weight: bold;
}

.box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
    text-align: center;
}

.date, .by {
    color: rgb(134, 134, 136);
}

#pinBoot {
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    width: 100%;
}

#pinBoot:before,
#pinBoot:after {
    content:"";
    display:table;
}
#pinBoot:after {
    clear:both;
}

.postContent {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 10px;
    width: 100%;
    height: auto;
}

.coverImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.coverImage:hover {*/
    /*-webkit-filter: grayscale(100%); !* Chrome 19+ & Safari 6+ *!*/
/*}*/

h3 {
    text-shadow: 2px 2px 4px #000000;
}

.postContent h3,
.postContent .glyphicon-user {
    text-decoration: none;
    color: rgb(251, 252, 253);
}

.postContent a {
    text-decoration: none;
    color: #ffec5c;
}
/*---------------------------USER PROFILE PAGE---------------------------*/
#pinBoot .profile {
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    background: url("/cover.png") no-repeat;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.7);
    background-size: 100% 100%;
    height: 330px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
}
/*---------------------------PANEL IMAGE CONTENT AND EFFECTS---------------------------*/
.openbook {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    text-decoration: none;
    overflow: hidden;
}

#pinBoot .white-panel {
    /*border: 5px solid white;*/
    position: absolute;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.7);
    background: url("/cover.png") no-repeat;
    background-size: 100% 100%;
    height: 330px;
    /*padding: 10px;*/
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#pinBoot .white-panel h2,
#pinBoot .white-panel a,
#pinBoot .white-panel p,
#pinBoot .white-panel .pull-right {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#pinBoot .white-panel.blur{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.7;
}
#pinBoot .white-panel.active{
    margin-top: -5px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
    z-index: 100;
    opacity: 1;
}
#pinBoot .white-panel.active h2,
#pinBoot .white-panel.active h3,
#pinBoot .white-panel.active p,
#pinBoot .white-panel.active a,
#pinBoot .white-panel.active .pull-right {
    opacity: 1;
}
#pinBoot .white-panel.blur h2,
#pinBoot .white-panel.blur h3,
#pinBoot .white-panel.blur .pull-right {
    /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);*/
    /*color: rgba(0, 0, 0, 0);*/
    opacity: 0;
}
#pinBoot .white-panel.blur a {
    /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);*/
    /*color: rgba(0, 0, 0, 0);*/
    opacity: 0;
}
#pinBoot .white-panel.blur p {
    /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);*/
    /*color: rgba(0, 0, 0, 0);*/
    opacity: 0;
}
textarea {
    resize: none;
    min-height: 150px;
}
/*---------------------------EACH POST PAGE---------------------------*/
.card {
    /*position: absolute;*/
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    align-content: center;
    /*border-radius: 10px;*/
    margin-top: 10px;
    border: 1px solid #ffec5c;
}
.comment{
    background: lightgoldenrodyellow;
    /*border-radius: 10px;*/
    padding: 10px;
    border: 2px solid black;
    margin-top: 1px;
}
.comment-link{
    text-align: center;
}
/*---------------------------NAV BAR BUTTONS/ COLORS/ LINKS ---------------------------*/
.btn-common {
    background: #ffec5c;
}
.btn-common:hover {
    background: #ffec5c;
}
.btn-danger:hover {
    background: #ffec5c;
}
.btn-danger{
    background: #ffec5c;
    border: none;
}
#navsearch {
    margin-top: 23px;
}
#navbar li {
    background-color: transparent;
}
.glyphicon-home, .glyphicon-log-in, .glyphicon-log-out, .glyphicon-edit {
    margin-right: 10px;
}
.glyphicon-user {
    margin-right: 5px;
}
.glyphicon-plus-sign {
    margin-left: 5px;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 0 0 0 15px;
    width: 120px;
}
.navbar-light {
    /*background: url("/navshadow.png");*/
    background: rgba(41, 44, 49, 1);
    background-size: cover;
    border-bottom: 1px solid rgba(39,42,50, .9);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;}
.navbar-light.past-main {
    /*background-color: rgba(255, 244, 15, 0.95); yellow*/
    /*background-color: rgba(86, 86, 86, 0.95); blackboard*/
    background: rgba(41, 44, 49, .9);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#main {
    height: 1px;
    /*background-color: #0d144e;navy*/
    background-color: rgba(255, 255, 255, 0);
}
#below-main {
    height: 85px;
    background-color: rgba(255, 255, 255, 0);
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-header {
    position: relative;
    padding: 15px 0;
    margin: 0;
}
.main-navigation .navbar-nav {
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.main-navigation .navbar-nav > li a {
    color: rgb(251, 252, 253);
    line-height: normal;
    /*border-radius: 4px;*/
    padding: 12px 15px;
    font-size: 13px;
    outline: 0;
    letter-spacing: 0.3px;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}
.main-navigation .navbar-nav > li a.past-main{
    color: #426e86;
}
.main-navigation .navbar-nav > li a:hover,
.main-navigation .navbar-nav > li a.active,
.main-navigation .navbar-nav > li a:focus {
    color: black;
}
.main-navigation .navbar-nav > li a i {
    margin-right: 3px;
}
.main-navigation .navbar-nav > li.postadd {
    padding-left: 25px;
    margin-left: 5px;
    border-left: 1px solid #2f3131;
}
.main-navigation .navbar-nav > li.postadd a {
    box-sizing: border-box;
    color: rgba(41, 44, 49, 1);
    font-size: 12px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
    width: 140px;
    webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.main-navigation .navbar-nav > li.postadd a:hover {
    color: rgba(41, 44, 49, 1);
    background: #ffec5c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background: transparent;
    color:  black;
}
.navbar-default .navbar-toggle {
    border-color: #eee;
    border-radius: 0;
}
/*---------------------------LOGIN PAGE FORM---------------------------*/
.page-login-form h3 {
    color: #ffec5c;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 0 30px;
    text-transform: uppercase;
    text-align: center;
}
h3{
    color: #ffec5c;
}
.page-login-form .login-form .form-control {
    background: #ffffff;
}
.page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0px 0px 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 16px;
}
.comment-form{
    text-align: center;
}
/*---------------------------PAGINIATION TOOL---------------------------*/
.pagination .number {
    border-radius: 50% !important;
    border-color: transparent;
    margin: 0 5px;
    color: #292C31;
    background-color: #ffec5c;
}
.pagination .arrow {
    margin-top: 2px;
    color: #ffec5c;
    background: none;
    border: none;
}
.pagination .number:hover,
.pagination .number:focus {
    border-color: transparent;
    color: #ffec5c;
    background-color: #292C31;
    box-shadow: 0px 0px 3px #ffec5c;
}
.pagination .arrow {
    margin-top: 2px;
    color: #ffec5c;
    background: none;
    border: none;
}
.pagination .arrow:hover,
.pagination .arrow:focus {
    background: none;
    color: #ffec5c;
}
/*.pagination > li > a:focus,*/
/*.pagination > li > a:hover,*/
/*.pagination > li > span:focus,*/
/*.pagination > li > span:hover {*/
    /*color: #ffec5c;*/
    /*background-color: #292C31;*/
    /*border-color: #ffec5c;*/
/*}*/

