<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Leave a comment')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div id="main"></div>
<div id="below-main"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <div class="card card-block" th:object="${post}">
                <span class="glyphicon glyphicon-user"></span><a th:href="@{/users/{id}(id=*{user.id})}"><span class="name" th:text="*{user.username}">Bob</span></a><span class="date pull-right" th:text="*{createDate}">Date</span>
                <div>
                <h2 class="card-title" th:text="${post.title}">Title</h2>
                <p class="card-text" th:text="${post.body}">Body</p>
                </div>
                <form th:object="${comment}" th:action="@{'/posts/' + ${post.id} + '/comment'}" th:method="POST">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}" ></div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" th:field="${comment.body}" placeholder="Reply"></textarea>
                    </div>
                    <div class="comment-form">
                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                        <div><a th:href="@{/posts/{id} (id=${post.id})}">Cancel</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>