<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div id="main"></div>
<div id="below-main"></div>
<div class="container">
    <div class="row">
        <section id="pinBoot">
            <article class="profile">
                <img th:src="*{user.profile}" class="img-circle"/>
                <h2 class="name" th:text="*{user.username}">Bob</h2>
                <hr/>
                <h4 class="about" th:text="*{user.about}">About</h4>
            </article>
            <article class="white-panel" th:each="post : ${posts}" th:object="${post}">
                <div class="openbook" th:attr="booknumber=*{isbn}"></div>
                <div class="coverImage" th:style="'background:url(' + @{'http://covers.openlibrary.org/b/isbn/' + *{isbn} + '-L.jpg'} + ') no-repeat; background-size: 100% 100%;'">
                    <div class="postContent">
                        <a th:href="@{/posts/{id}(id=*{id})}"><h3 th:text="*{title}">Title</h3></a>
                        <span class="pull-right"><span class="date" th:text="${post.createDate}">Date</span><span class="by"> by</span> <a th:href="@{/users/{id}(id=*{user.id})}"><span class="name" th:text="*{user.username}">Bob</span></a></span>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>