<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Register')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div id="main"></div>
<div id="below-main"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="box">
                <h3>
                    Register
                </h3>
                <form th:object="${user}" th:action="@{/register}" method="POST" class="login-form">
                    <div class="form-group">
                        <input type="hidden" class="form-control" th:field="*{id}"/>
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{username}" placeholder="Username" />
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
                    <div class="form-group">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" th:field="*{about}" placeholder="Tell us a little about yourself"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>